.card {
  width: 540px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.card__list-item {
  display: flex;
  margin: 0 0 16px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.card__list-item:last-child {
  margin-bottom: 0;
}
